<!DOCTYPE html>
<html>
  <head>
    <title>Bracket</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="go.js"></script>
  <!--  <script src="goSamples.js"></script> -->

  </head>

  <body>
    <%= yield %>
  </body>
</html>
